.Container {
    padding: 20px;
}


.text1
{
  height: 500px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#te1
{
  color: rgb(115, 102, 102);
}
#nargey
{
  
}
#better-blue
{
  color: blue;
}

/* #nargey
{
  height: 500px;
  float: left;
  display: flex;
  justify-content: center;
  /* align-items: center;
  width: 50%;
  color: rgb(85, 73, 73);
} */

.picture1{
    width: 50%;
    float: right;
}  

.text2{
    height: 500px;
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: text2an;
    animation-duration: 8;
    animation-iteration-count: infinite;

}  

@keyframes text2an {
  0% {text-decoration-color: dimgray;}
  60% {text-decoration-color: rgb(107, 103, 146);}
  100% {text-decoration-color: dimgray;}
}


.picture2{
    width: 50%;
    float: left;

}  

img {
    max-width: 100%;
    }




/*credit mostly w3schools*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;

  }
  #navcol
  {
      animation-name: gradient;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  
  @keyframes gradient {
      0%   {background-color:rgb(114, 0, 0);}
      50% {background-color:rgb(165, 1, 1);}
      100% {background-color:rgb(114, 0, 0);}
  }

  li {
    float: left;
    text-align: center;
  }
  
  li a, .dropbtn {
    display: inline-flex;
    color: white;
    padding: 14px 60px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.navcol{
    height: 0px;
    padding: 100%;
}

.PhoneIMG{
    height: 0px;
    width: 0px;
}

.Menu{
    float: right;
    height: 0px;
}

.MenuDrop{
    height: 0px;
}
@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .dropdown-content, ul, .logos{
        height: 0px;
    }
    .PhoneIMG{
        height: 100px;
        width: 100px;
    }

    .Menu{
        height: 50px;
        
    }

    .MenuDrop{
        height: 10px;
        width: 10px;
    }
    li a:hover, .dropdownmenu:hover .Menu {
      background-color: red;
    }
    
    li.dropdownmenu {
      display: inline-block;
    }

    .dropdown-stuff {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-stuff a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .text1, .text2, .picture1, .picture2 {
        width: 100%;
    }
    .text1, .text2{
        height: 300px;
    }
}


/* TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS   TEXTS    */